<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsolla.android.paystation">

    <application>
        <activity
            android:name=".ui.ActivityPaystationWebView"
            android:configChanges="orientation|screenSize"
            android:theme="@style/xsolla_paystation_Theme" />
    </application>

</manifest>