<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsolla.android.paystation">

    <application>
        <activity
            android:name=".ui.ActivityPaystationBrowserProxy"
            android:configChanges="orientation|screenSize"
            android:theme="@style/xsolla_paystation_Theme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/xsolla_paystation_redirect_scheme"
                    android:host="@string/xsolla_paystation_redirect_host"
                    android:pathPrefix="@string/xsolla_paystation_redirect_path_prefix" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActivityPaystationWebView"
            android:configChanges="orientation|screenSize"
            android:theme="@style/xsolla_paystation_Theme" />
    </application>

</manifest>