<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsolla.android.payments">

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application>
        <activity
            android:name="com.xsolla.android.payments.ui.ActivityPayStation"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/xsolla_payments_Theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xpayment.${applicationId}"
                    android:scheme="app" />
            </intent-filter>
        </activity>
    </application>

</manifest>